body {
  font-family: "Roboto Mono", monospace;
  background: rgb(241, 240, 240);
}
h1 {
  text-align: center;
  color: rgb(70, 69, 69);
}
#form {
  /* border: 2px solid black; */
  border-radius: 22px;
  background-color: white;
  width: 590px;
  padding: 15px 20px;
  margin: 10px auto;
  box-shadow: 10px 10px 5px rgb(182, 182, 182);
}
.inputbox {
  width: 350px;
  height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  font-size: 12px;
  margin: 20px 0px;
}
.inputbox:focus {
  outline: none;
}
label {
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 18px;
  /* font-weight: bold; */
  color: rgb(31, 30, 30);
}
#submitBtn {
  margin-top: 20px;
  font-size: 20px;
  /* font-family: "Courier New", Courier, monospace; */
  padding: 6px 23px;
  border-radius: 5px;
  background-color: rgb(121, 121, 255);
  color: white;
  border: none;
}
